body{
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-family:cursive,sans-serif;
}


.container{
    width: 760px;
    margin:0 auto;
}

h1{
    font-size: 32px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

p1{
    font-size: 18px;
    font-family:cursive,sans-serif;
    font-weight:bolder;
    
}

ul>li{
    padding: 3px 0;
}

.pull-right{
    float: right;
}

.fs12{
    font-size: 20px;
    font-weight: normal;
}

iput[type=text]{
    width: 200px;
    padding: 5px;
}

input[type=submit]{
    width: 100px;
}

textarea{
    padding: 5px;
    width: 350px;
    height:auto 80px;
    
}

.hidden{
    display: none;
}

.flash_message{
    text-align: center;
    padding: 5px;
    color:black;
    background:skyblue;
    
}

.error{
    font-size:12px;
    color: tomato;
    padding: 3px 0;
    display: block;
}


a {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}


/*calendar stylesheet*/

.calendar {
    text-align: center;
}


div.calendar a{
    text-decoration: none;
}

div.calendar table{
    margin:15px auto;
    border: 1px solid #ddd;
    /*セルのボーダーの表示の仕方を指定する*/
    border-collapse:collapse;
}

div.calendar th{
    background:#eee;
}

div.calendar th,td{
    padding: 7px;
    text-align:center;
}

.youbi_6{
    color: blue;
}

/* 日曜日の色付け*/
.youbi_0{
    color: red;
}

.today{
    font-weight: bold;
    color:#3762b3;
}

.gray{
    color:#dedede;
}



